# Python
__pycache__/
*.pyc
venv/
.env

# ML
ml/saved_models/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# Logs
*.log

backend/Lib/
backend/Scripts/
backend/pyvenv.cfg